@page "/import"
@using System.Diagnostics
@using Blazing.Client.Modules.Import
@rendermode InteractiveServer
@inject IImportRestApi ImportRestApi

<PageTitle>Import</PageTitle>

<h1>Import</h1>

<p role="status">Server Import result: @_importResult1</p>
<p role="status">Client Import result: @_importResult2</p>

<HxIcon Icon="@BootstrapIcon.HandThumbsUp" CssClass="display-3"/>
<br/>
<HxButton Text="Button with a Spinner" Size="ButtonSize.Regular" Color="ThemeColor.Primary" OnClick="async () => await ImportFileAsync()" />

@code {
    private string _importResult1 = "(empty)";
    private string _importResult2 = "(empty)";

    private async Task ImportFileAsync()
    {
        var sw = Stopwatch.StartNew();
        _importResult1 = await ImportRestApi.Import().ConfigureAwait(false);
        _importResult2 = sw.ElapsedMilliseconds.ToString() + "ms";
    }

}